extends layout
block content

    div.container
        h1 About
        p Das Scrum Coffee Board wurde im Rahmen des Fachs Web Engineering 2 entwickelt.

        h4 Betreuer
        p Jens Christian Fischer
            br
            a(href='mailto:xfir@zhaw.ch') xfir@zhaw.ch
        h4 Student
        p Christian Bachmann
            br
            a(href='mailto:bachmch3@students.zhaw.ch') bachmch3@students.zhaw.ch