doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/boostrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='javascript', href='/javascripts/boostrap.min.js')
    link(rel='javascript', href='/javascripts/backbone.js')
  body
    block content