doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/lib/jquery.js')
        script(src='/javascripts/lib/bootstrap.min.js')
        script(src='/javascripts/lib/underscore.js')
        script(src='/javascripts/lib/backbone.js')
        script(src='/javascripts/lib/backbone.localStorage.js')

        script(src='/javascripts/models/todo.js')
        script(src='/javascripts/collections/todos.js')

        script(src='/javascripts/app.js')
    body
        include header

        block content

        include footer
