/**********************
 * General            *
 **********************/
html,body{
 height:101%;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background:url(../images/kaffeebohnen.jpg) right bottom no-repeat;
}

a {
  color: #00B7FF;
}

p {margin-bottom: 1em;}

/* Floats */
.left {float: left;}
.right {float: right;}

.clear,.clearer {clear: both;}
.clearer {
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
}




/* Layout */

#center-wrapper {
	margin: 0 auto;
	width: 920px;
}


/* Columns */

.column {
	margin-left: 2%;
	width: 32%;
}
.column.first {margin-left: 0;}


/**********************
 * ScrumTask          *
 **********************/


.sortable-list {
	background-color: #F93;
	list-style: none;
	margin: 0;
	min-height: 60px;
	padding: 10px;
}
.sortable-item {
	background-color: #FFF;
	cursor: move;
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 0px 0;
	text-align: left;
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: #FFFFFF;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}

#accordion-0{
    width:33%;

}

#accordion-0.sortable-item{
    border:none;
}

#accordion-0 .panel-default>.panel-heading, #accordion-0 .panel-default{
    border:none;
    background:none;
    box-shadow:none;
}


.footer{
    height:340px;
}